<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger! </title>
		<section>
			<img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/3/22/0/FNCC_bobby-flay-perfect-burger-1_s4x3.jpg.rend.hgtvcom.616.462.jpeg" width="600" height="300">
		</section>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>